
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 15rem;
    height: 15rem;
    border: gray 30px solid;
    background: #ececec;

}

.cell{
    width: 5rem;
    height: 5rem;
}
.b-square {
    cursor: move;
    margin: auto;
}

.r-square {
    background: #3b2828;
    cursor: default;
}

.char {
    border-radius: 50%;
    background: rgba(18, 255, 0, 0.3);
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flag {
    background: #a100ff;
    border-radius: 20%;
}