html {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

div > div {
    padding: 10px;
    background-color: #e7e7e7;
}