
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4dcd1;

}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 15rem;
    height: 15rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;

}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;
}

.cell{
    width: 5rem;
    height: 5rem;
    background-color: #e4dcd1;
    background-image: url(../images/floor.png);
    background-size: 100%;
}
.b-square {
    cursor: move;
    margin: auto;
}


.r-square {
    cursor: default;
}

.char {
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flag {
    background-image: url(../images/flag.png);
}

#button {
    margin: 2.5rem auto;
    display: flex;
    padding: 0.2rem 1rem;
    justify-content: center;
    background-color: #38be38;
    color: rgb(255, 255, 255);
    border: transparent 0.1rem solid;
    border-radius: 0.5rem;
   /* border-bottom: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
    border-left: 0;
    border-right: 0;
    border-image: url(../images/border.png) 50 stretch;*/
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    background-color: #2e9e2e;
    transition: 0.3s;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: #000000;
    margin: 0;
    padding: 1rem;
}