
@font-face {
    font-family: 'VPPixel';
    src: url('VPPixel-Simplified.otf');
}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VPPixel', sans-serif;
}

body {
    background-color: #e4dcd1;
}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 15rem;
    height: 15rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;

}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: 1rem solid transparent;
    border-image: url(../images/border.png) 45;
}

.cell{
    width: 5rem;
    height: 5rem;
    background-color: #e4dcd1;
    background-image: url(../images/floor.png);
    background-size: 100%;
}
.b-square {
    cursor: move;
    margin: auto;
}


.r-square {
    cursor: default;
}

.char {
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flag {
    background-image: url(../images/flag.png);
}

#button {
    margin: 2.5rem auto;
    display: flex;
    padding: 0.2rem 1rem;
    justify-content: center;
    background-color: #38be38;
    color: rgb(255, 255, 255);
    border: transparent 0.1rem solid;
    border-radius: 0.3rem;
    font-family: VPPixel, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    background-color: #2e9e2e;
    transition: 0.3s;
}

h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    margin: auto;
    padding: 1rem;
    /*
    border-bottom: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
    border-left: 0;
    border-right: 0;
    border-image: url(../images/border.png) 50 stretch;*/
}

@media screen and (max-width: 450px) {
    .grid-5 {
        margin: auto;
        width: 20rem;
        height: 20rem;
    }

    .grid-5 > .cell {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 370px) {
    .grid-4 {
        margin: auto;
        width: 14rem;
        height: 14rem;
    }

    .grid-4 > .cell {
        width: 3.5rem;
        height: 3.5rem;
    }

    .grid-5 {
        width: 14.5rem;
        height: 14.5rem;
    }

    .grid-5 > .cell {
        width: 2.9rem;
        height: 2.9rem;
    }
}

@media screen and (max-width: 300px) {
    .grid-3 {
        margin: auto;
        width: 13.5rem;
        height: 13.5rem;
    }

    .grid-3 > .cell {
        width: 4.5rem;
        height: 4.5rem;
    }
}