
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4dcd1;
}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 15rem;
    height: 15rem;
    border: 30px solid transparent;
    border-image: url(../images/wall.png);

}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: gray 30px solid;
    background: #ececec;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: gray 30px solid;
    background: #ececec;
}

.cell{
    width: 5rem;
    height: 5rem;
    background-color: #e4dcd1;
}
.b-square {
    cursor: move;
    margin: auto;
}

.r-square {
    cursor: default;
}

.char {
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flag {
    border-radius: 20%;
    background-image: url(../images/flag.jpg);
}

.ghost {
    display: none;
}